testcases/tmp
testcases/textcattoy/log.log
testcases/textcattoy/params.overweight
testcases/textcattoy/params.wts
testcases/textcattoy/programFiles.arg
testcases/textcattoy/toytrain.cooked
.project
beatles
*.pyc
*.swp
*~
.idea
*.iml
compiled*
bin
test-results
out
kbp_prototype
